<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/showtable.css}">
</th:block>

<div layout:fragment="content">
    <p id="table_name">공식당</p>
    <table class="lunchbox">
        <tr>
            <th><img th:src="@{/img/lunchbox/lunchbox.jpg}" alt="도시락"></th>
            <td class="lunchbox_menu"><p>돈까스도시락</p><p>5000원</p></td>
        </tr>
        <tr>
            <th><img th:src="@{/img/lunchbox/lunchbox.jpg}" alt="도시락"></th>
            <td class="lunchbox_menu"><p>옛날도시락</p><p>6000원</p></td>
        </tr>
        <tr>
            <th><img th:src="@{/img/lunchbox/lunchbox.jpg}" alt="도시락"></th>
            <td class="lunchbox_menu"><p>치킨도시락</p><p>5500원</p></td>
        </tr>
        <tr>
            <th><img th:src="@{/img/lunchbox/lunchbox.jpg}" alt="도시락"></th>
            <td class="lunchbox_menu"><p>제육볶음도시락</p><p>6000원</p></td>
        </tr>
        <tr>
            <th><img th:src="@{/img/lunchbox/lunchbox.jpg}" alt="도시락"></th>
            <td class="lunchbox_menu"><p>제육볶음도시락</p><p>6000원</p></td>
        </tr>
        <tr>
            <th><img th:src="@{/img/lunchbox/lunchbox.jpg}" alt="도시락"></th>
            <td class="lunchbox_menu"><p>제육볶음도시락</p><p>6000원</p></td>
        </tr>
        <tr>
            <th><img th:src="@{/img/lunchbox/lunchbox.jpg}" alt="도시락"></th>
            <td class="lunchbox_menu"><p>제육볶음도시락</p><p>6000원</p></td>
        </tr>
        <tr>
            <th><img th:src="@{/img/lunchbox/lunchbox.jpg}" alt="도시락"></th>
            <td class="lunchbox_menu"><p>제육볶음도시락</p><p>6000원</p></td>
        </tr>

    </table>



</div>
</html>